

# semester 1
**/Dreptul
**/EC
**/Engleza
**/Filosofia
**/Matematica I
**/Mecanica
**/PC/Note de Curs

**/GI/**/*.pdf
**/GI/**/*.bak

**/obj/

*.cbp
*.depend
*.layout
*.o
*.h
*.js
*.htm
*.iml
*.pas
~$*.docx




# semester 2
**/Economia
**/Engleza II
**/Fizica
**/Matematica II
**/Matematici Discrete/MD LAB
**/Note de Curs
**/.idea/
**/out
**/Structuri de Date si Algoritmi/Seminar
**/Structuri de Date si Algoritmi/**/Conditia
**/Structuri de Date si Algoritmi/SDA Lucrare de An/*.rar
**/Teoria Probabilitatii si Informatiei





# semester 3
**/CDE
**/Teorie
**/APA/**/img

# semester 4
**/semester 4/AC/Irvine
**/semester 4/AC/ACro2019
**/semester 4/AMOO/All Labs
**/semester 4/AMOO/AMOO curs
**/semester 4/AMOO/Exemple AMOO Laboratoare
**/semester 4/AMOO/Tema
**/semester 4/GC
**/semester 4/PPE
**/semester 4/RC
**/semester 4/**/ign/



# semester 5
**/semester 5/BD
**/semester 5/SOMIPP
**/semester 5/PAM
